main {
    max-width: 1000px;
    margin: 15vh auto;
    text-align: center;
}

h1 {
    font-size: 32px;
    color: #b30000;
    margin-bottom: 10px;
}

p {
    color: #333;
    margin-bottom: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th {
    background: #000;
    color: #fff;
    padding: 12px;
}

table td {
    padding: 12px;
    border-bottom: 1px solid #aaa;
}

.acoes {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-small {
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    transition: .2s;
}

.btn-small.edit {
    background: #b30000;
}

.btn-small.edit:hover {
    background: #e60000;
}

.btn-small.delete {
    background: #000;
}

.btn-small.delete:hover {
    background: #333;
}

form {
    display: inline;
}
