{% extends 'base.html' %}
{% block titulo %} Editar Empréstimo {% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/emprestimos/emprestimos_form.css') }}">
{% endblock %}

{% block conteudo %}
<main>

    <h1>Editar Empréstimo</h1>

    {% include 'includes/mensagens.html' %}

    <form action="{{ url_for('emprestimo.editar', id=e.id) }}" method="POST">

        <label>Status</label>
        <select name="status">
            <option value="pendente" {% if e.status == 'pendente' %}selected{% endif %}>Pendente</option>
            <option value="devolvido" {% if e.status == 'devolvido' %}selected{% endif %}>Devolvido</option>
        </select>

        <label>Data Devolução</label>
        <input type="date" name="data_devolucao" value="{{ e.data_devolucao }}">

        <button class="btn" type="submit">Salvar</button>

    </form>

</main>
{% endblock %}
