{% extends 'base.html' %}
{% block titulo %} Empréstimos {% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/emprestimos/emprestimos.css') }}">
{% endblock %}

{% block conteudo %}
<main>

    <h1>Empréstimos Registrados</h1>

    {% include 'includes/mensagens.html' %}

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuário</th>
                <th>Item</th>
                <th>Retirada</th>
                <th>Devolução</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            {% for e in emprestimos %}
            <tr>
                <td>{{ e.id }}</td>
                <td>{{ e.user.nome }}</td>
                <td>{{ e.item.nome }}</td>
                <td>{{ e.data_emprestimo.strftime("%d/%m/%Y %H:%M") }}</td>
                <td>{{ e.data_devolucao.strftime("%d/%m/%Y %H:%M") if e.data_devolucao else "-" }}</td>
                <td>{{ e.status }}</td>

                <td>

                    {% if e.user_id == current_user.id or current_user.is_admin() %}
                        {% if e.status != "devolvido" %}
                        <form action="{{ url_for('emprestimo.devolver', id=e.id) }}" 
                              method="POST" 
                              style="display:inline;">
                            <button class="btn btn-devolver" type="submit">
                                Devolver
                            </button>
                        </form>
                        {% endif %}

                        {% if current_user.is_admin() %}
                            <form action="{{ url_for('emprestimo.remover', id=e.id) }}" 
                                  method="POST" 
                                  style="display:inline;">
                                <button class="btn-small danger" type="submit">
                                    Remover
                                </button>
                            </form>
                        {% endif %}            
                    {% else %}

                        <span style="color: rgb(20, 19, 19); font-size: 0.9rem;">
                            Não é seu empréstimo
                        </span>
                    {% endif %}

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</main>
{% endblock %}
