main {
    max-width: 900px;
    margin: 15vh auto;
    text-align: center;
}

h1 {
    color: #b30000;
    margin-bottom: 20px;
}

.btn {
    background: #b30000;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #ff0000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
}

th {
    background: #111;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.btn-small {
    padding: 5px 10px;
    background: black;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
}

.btn-small:hover {
    background: #444;
}

.danger {
    background: #b30000 !important;
}

.danger:hover {
    background: #ff0000 !important;
}


.busca-itens {
    margin: 25px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.busca-itens input[type="text"] {
    width: 260px;
    padding: 10px 12px;
    border: 2px solid #111;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    transition: 0.3s;
}

.busca-itens input[type="text"]:focus {
    border-color: #b30000;
}

.busca-itens button {
    background: #111;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

.busca-itens button:hover {
    background: #b30000;
}