body {
    background: linear-gradient(to right, silver, #007bff);
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center; 
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    background-color: #36679c;
    padding: 20px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease;
    font-size: 16px;
    padding: 5px 8px;
}

header a:hover {
    color: rgb(136, 136, 214);
}

nav {
    display: flex;
    gap: 40px;
}

.message {
    background: #7798bb;
    text-transform: uppercase;
    font-size: 12px;
    color: black;
    padding: 20px;
    margin: 200px auto;
    border-radius: 15px;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 10px 25px;
}

.message h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-weight: 600;
}

.message p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 10px;
}

.login {
    color: black;
    display: flex;
    background-color: #7798bb;
    padding: 30px;
    border-radius: 2em;
    margin-top: 100px;
    gap: 10px;
    flex-direction: column;
    width: 20em;
    text-transform: uppercase;
    box-shadow: 0 10px 25px;
}

.button-adicionar {
    display: inline-block;
    margin-top: 10px; 
    padding: 10px 20px;
    background-color: #224871;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease; 
}

.button-adicionar:hover {
    background-color: #88aed6;
    transform: scale(1.05);
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

.item-container {
    background: #36679c;
    color: white;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 25px;
    width: 500px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin: 30px auto;
}

.item-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

.item-container h3 {
    color: black;
    margin-top: 0;
    margin-bottom: 10px;
}

.item-container p {
    margin: 6px 0;
    font-size: 14px;
}

.btn {
    display: inline-block;
    padding: 10px 10px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover {
    background-color: #88aed6;
    transform: scale(1.05);
}