{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block titulo %} Central de Controle de Empréstimos {% endblock %}

{% block conteudo %}
<main>

    <h1>Bem-vindo à Central de Controle Escolar</h1>
    <p>Sistema de gestão de itens, empréstimos e usuários.</p>

    {% include 'includes/mensagens.html' %}

    {% if current_user.is_authenticated %}
        <p>Você está logado como <strong>{{ current_user.nome }}</strong>.</p>

        <a href="{{ url_for('item.itens') }}">Ver Itens</a>
        <a href="{{ url_for('emprestimo.listar') }}">Ver Empréstimos</a>
        <a href="{{ url_for('user.listar') }}">Gerenciar Usuários</a>
        <a href="{{ url_for('auth.logout') }}">Sair</a>
    {% else %}
        <a href="{{ url_for('auth.login') }}">Login</a>
        <a href="{{ url_for('auth.register') }}">Cadastrar Usuário</a>
    {% endif %}

</main>
{% endblock %}
