{% extends 'base.html' %}
{% block titulo %} Editar Item {% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/items/items_form.css') }}">
{% endblock %}

{% block conteudo %}
<main>
    <h1>Editar Item</h1>

    {% include 'includes/mensagens.html' %}

    <form action="{{ url_for('item.editar', id=item.id) }}" method="POST">

        <label>Nome</label>
        <input type="text" name="nome" value="{{ item.nome }}" required>

        <label>Categoria</label>
        <input type="text" name="categoria" value="{{ item.categoria }}">

        <label>Quantidade</label>
        <input type="number" name="quantidade" min="0" value="{{ item.quantidade }}" required>

        <button type="submit" class="btn">Salvar</button>
    </form>
</main>
{% endblock %}
