{% extends 'base.html' %}
{% block titulo %} Lista de Itens {% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/items/items.css') }}">
{% endblock %}

{% block conteudo %}
<main>
    <h1>Itens Cadastrados</h1>

    {% include 'includes/mensagens.html' %} 

    {% if current_user.is_admin() %}
        <a class="btn" href="{{ url_for('item.adicionar') }}">Adicionar Item</a>
    {% endif %}
    
    <form method="get" class="busca-itens">
        <input type="text" name="q"placeholder="Buscar item" value="{{ q }}">
        <button type="submit">Buscar</button>
    </form>


    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Quantidade</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            {% for item in itens %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.nome }}</td>
                <td>{{ item.categoria }}</td>
                <td>{{ item.quantidade }}</td>
                <td>

                    {% if current_user.is_admin() %}
                        <a class="btn-small" href="{{ url_for('item.editar', id=item.id) }}">Editar</a>
                    
                        <form action="{{ url_for('item.remover', id=item.id) }}" method="POST" style="display:inline;">
                            <button class="btn-small danger" type="submit">Remover</button>
                        </form>
                    {% endif %}

                    <form action="{{ url_for('emprestimo.adicionar') }}" method="POST">
                        <button type="submit" name="item_id" value="{{ item.id }}" class="btn-small">
                            Pegar Emprestado
                        </button>
                    </form>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</main>
{% endblock %}
