{% extends 'base.html' %}

{% block titulo %} Cadastro {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth/register.css') }}">
{% endblock %}

{% block conteudo %}
<main>

    <h1>Criar Conta</h1>
    <p>Preencha os dados abaixo para se registrar.</p>

    {% include 'includes/mensagens.html' %}

    <form method="POST" class="form-box">

        <label>Nome:</label>
        <input type="text" name="nome" required>

        <label>Email:</label>
        <input type="email" name="email" required>

        <label>Senha:</label>
        <input type="password" name="senha" required>

        <button type="submit">Cadastrar</button>

        <p class="login-link">
            Já tem conta? <a href="{{ url_for('auth.login') }}">Entrar</a>
        </p>

    </form>

</main>
{% endblock %}
