main {
    max-width: 900px;
    margin: 15vh auto 0 auto;
    padding: 0 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

main h1 {
    font-size: 42px;
    color: #8B0000; /* vermelho escuro */
    margin-bottom: 15px;
}

main p {
    font-size: 18px;
    color: #444;
    margin-bottom: 10px;
}

main .descricao {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
}

main a {
    display: inline-block;
    padding: 10px 30px;
    background-color: #111;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

main a:hover {
    background-color: #8B0000;
}
